*DAY 1 *

Write simple codes like:

• Print first 10 square numbers

• Sum of even numbers till 100

• List of prime numbers till 50. **bold text**

In [ ]:
# print first 10 square numbers
for i in range(1,11):
  a=i*i
  print(a)

1
4
9
16
25
36
49
64
81
100

In [ ]:
# Sum of even numbers till 100
a=0
for i in range(2,101):
  if i%2==0:
    a=a+i

print(a)

2550

In [ ]:
# List of prime numbers till 50.
for i in range(2,51):
  prime=True
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      prime=False
      break
  if prime:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

DAY 2
1. Print all prime numbers between 50 and 100.

In [ ]:
for i in range(50,101):
  prime=True
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      prime= False
      break
  if prime:
    print(i)

53
59
61
67
71
73
79
83
89
97